@media (max-width: 480px) {
  .button1 {
    color: rgb(229, 238, 229);
    display: none;
    visibility: hidden;
  }

  .grid {
    display: none;
  }

  .button1 {
    display: none;
  }
}

@media (min-width: 1281px) {
  body {
    background-color: green;
  }
}

.grid {
  margin-right: 20px;
  background-repeat: no-repeat;
}

img {
  width: 600px;
}

.outset {
  border-bottom: 0.1px solid #002766;
}

.flip {
  margin: 55px;

}

h4 {
  text-align: center;
  color: #002766;
}

.spa {
  font-weight: 800;
  font-size: 25px;
  color: #002766;
}

.pad {
  width: 250px;
}

.spe {
  color: #002766;
}

.as {
  color: #002766;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}